@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, :root {
    height: 100%;
    color: white;
}


.project-count{
    background: linear-gradient(187deg, #FFF 3.83%, #2B3447 59.49%, #0B162C 93.6%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}